<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Two View Controller2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08EA3D251D1B873100E18F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EA3D391D1B873100E18F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EA3D441D1B873100E18F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
